[force_move]
enable_force_move: True

[delayed_gcode KINEMATIC_POSITION]
initial_duration:0.2
gcode:
      SET_KINEMATIC_POSITION X=0
      SET_KINEMATIC_POSITION Y=0
      SET_KINEMATIC_POSITION Z=0

[respond]
default_type: command

[gcode_macro G31]
gcode:
      RUN_SHELL_COMMAND CMD=clear_plr

[gcode_shell_command clear_plr]
command: sh $USER_HOME/Klipper_PLR/clear_plr.sh
timeout: 5.
[gcode_macro save_last_file]
gcode:

  {% set svv = printer.save_variables.variables %}

  {% set filepath=printer.virtual_sdcard.file_path %}

  {% set filename=filepath.split('/')[-1] %}

  # Klipper parses extended params with shlex (POSIX shell quoting), then
  # ast.literal_eval. We must produce a token that survives BOTH layers, even
  # when the name contains an apostrophe (e.g. "Zoe's_dagger.gcode").
  #   layer 1 (ast): wrap in "..." and escape \ and "
  #   layer 2 (shlex): wrap in '...' and escape ' as '\''
  {% set fn_lit = '"' ~ (filename | replace('\\', '\\\\') | replace('"', '\\"')) ~ '"' %}
  {% set fp_lit = '"' ~ (filepath | replace('\\', '\\\\') | replace('"', '\\"')) ~ '"' %}
  {% set fn_arg = "'" ~ (fn_lit | replace("'", "'\\''")) ~ "'" %}
  {% set fp_arg = "'" ~ (fp_lit | replace("'", "'\\''")) ~ "'" %}

  SAVE_VARIABLE VARIABLE=last_file VALUE={fn_arg}
  SAVE_VARIABLE VARIABLE=filepath VALUE={fp_arg}


  M118 Last File: {filename}

[gcode_macro clear_last_file]
gcode:
  {% set filename='' %}
  {% set filepath='' %}
  SAVE_VARIABLE VARIABLE=last_file VALUE='"{ filename }"'
  SAVE_VARIABLE VARIABLE=filepath VALUE='"{ filepath }"'
  
[gcode_shell_command POWER_LOSS_RESUME]
command: $USER_HOME/Klipper_PLR/plr.sh
timeout: 420.


[gcode_macro RESUME_INTERRUPTED]
gcode =
    SET_GCODE_OFFSET Z=0 MOVE=0
    {% set z_height = params.Z_HEIGHT|default(printer.save_variables.variables.power_resume_z)|float %}
    {% set last_file = params.GCODE_FILE|default(printer.save_variables.variables.last_file)|string %}
    m118 {last_file}

    RUN_SHELL_COMMAND CMD=POWER_LOSS_RESUME PARAMS="{z_height} \"{last_file}\""
    SDCARD_PRINT_FILE FILENAME=plr/"{last_file}"
[gcode_macro LOG_Z]
gcode:
    {% set z_pos = printer.gcode_move.gcode_position.z %}
    RESPOND MSG="Current Z is {z_pos}"
    SAVE_VARIABLE VARIABLE=power_resume_z VALUE={z_pos}
[save_variables]
filename = $USER_HOME/printer_data/config/variables.cfg